@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
.brand-body-page{
    margin-left: 24%;
    margin-top: 5%;
}

.Head-brand {
    display: flex;
}

.brand-add-button{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 50px;
    text-align: center;
    margin-top: -5px;
    margin-left: 63%;
}

.brand-add-button-cate{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 50px;
    text-align: center;
    margin-top: -5px;
    margin-left: 69%;
}

.brand-add-button a{
    text-decoration: none;
    color: #a1a1a1;
    font-size: 16px;
    width: 95%; 
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    transition: 0.4s; 
    border-radius: 24px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.brand-add-button a:hover {
    background: rgb(39, 39, 39);
    color: #fff;
    border: none;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.brand-add-button-cate a{
    text-decoration: none;
    color: #a1a1a1;
    font-size: 16px;
    width: 95%; 
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    transition: 0.4s; 
    border-radius: 24px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.brand-add-button-cate a:hover {
    background: rgb(39, 39, 39);
    color: #fff;
    border: none;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


.Brand-card-layout{
    margin-top: 4%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.Brand-card{
    text-align: center;
    width: 200px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.123) 0px 2px 16px 0px;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 22px;
    
}

.Brand-card-Cate{
    text-align: center;
    width: 250px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.123) 0px 2px 16px 0px;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 22px;
    display: flex;
}

.Brand-card img{
    width: 170px;
    height: 130px;
    border-radius: 40px;
}

.Brand-card h5{
    font-size: 18px;
    margin-top: 10px;
    text-align:left;
    margin-left: 22px;
    cursor: default; 
}

.Brand-card-Cate h5{
    font-size: 18px;
    margin-top: 10px;
    text-align:left;
    margin-left: 22px; 
    width: 150px;
    cursor: default; 
}

.button-brand-group{
    margin-top: 10px;
}

.button-brand-group-cate{
    margin-top: 10px;
    text-align: right;
    width: 60%;
    padding-right: 12px;
}

.button-brand-group a{
    color: rgb(179, 179, 179);
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
}

.button-brand-group a:hover{
    color: rgb(32, 32, 32);
}

.button-brand-group-cate a{
    color: rgb(179, 179, 179);
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
}

.button-brand-group-cate a:hover{
    color: rgb(32, 32, 32);
}

.button-brand-group .Brand-pen{
    margin-left: -10px;
}

.button-brand-group .Brand-bin{
    margin-left: 50px;
}

.button-brand-group-cate .Brand-pen-cate{
    margin-right: 0px;
}

.button-brand-group-cate .Brand-bin-cate{
   padding-left: 10px;
}


/*Edit Modal*/


#Modal-Edit-Cate{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 216, 0.75);
    display: none;
    opacity: 0;
    animation: animate .4s linear forwards;
}

@keyframes animate{
    100%{
        opacity: 1;
    }
}

#Modal-Edit-Cate .Modal-body-Cate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 300px;
    background: #fff;
    padding: 10px 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.123) 0px 2px 16px 0px;
    text-align: center;
    border-radius: 24px;
}

.Modal-body-Cate h1{
    margin-top: 15px;
}

.Modal-body-Cate .ant-form{
    width: 100%;
}

.Modal-body-Cate .ant-form .input-Cate{
    width: 100%;
    margin-top: 24px;
}

.Modal-body-Cate .ant-form .input-Cate input{
    width: 70%;
    padding: 10px 20px;
    font-size: 20px;
    border: 1.5px solid silver;
    border-radius: 7px;
    transition: .4s;
}

.Modal-body-Cate .ant-form .input-Cate input:focus,
.Modal-body-Cate .ant-form .input-Cate input:valid{
    outline: none;
    border: 2px solid rgb(39, 39, 39);
}

.Modal-body-Cate .ant-form .input-Cate input:focus ~ label,
.Modal-body-Cate .ant-form .input-Cate input:valid ~ label{
    color: rgb(39, 39, 39);
    bottom: 140px;
    font-size: 14px;
}

.Modal-body-Cate .ant-form .input-Cate label{
    position: absolute;
    left: 63px;
    pointer-events: none;
    bottom: 108px;
    font-size: 20px;
    color: silver;
    background: white;
    transition: .4s;
}

.Modal-body-Cate .ant-form a.Close-modal-x-Cate{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: silver;
    cursor: pointer;
    transition: .4s;
}

.Modal-body-Cate .ant-form a.Close-modal-x-Cate:hover{
    color: rgb(39, 39, 39);
}

.Modal-body-Cate .ant-form .button-Cate-group{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Modal-body-Cate .ant-form .button-Cate-group a.Close-modal-Cate{
    text-decoration: none;
    color: silver;
    font-size: 16px;
    transition: .4s;
}

.Modal-body-Cate .ant-form .button-Cate-group a.Close-modal-Cate:hover{
    color: rgb(39, 39, 39);
    font-weight: bold;
}

.Modal-body-Cate .ant-form .button-Cate-group button.Save-Cate-submit{
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    transition: .4s;
    margin-left: 40px;
    padding: 10px 20px;
    border-radius: 24px;
    color: silver;
}

.Modal-body-Cate .ant-form .button-Cate-group button.Save-Cate-submit:focus{
    outline: none;
}

.Modal-body-Cate .ant-form .button-Cate-group button.Save-Cate-submit:hover{
    background: rgb(39, 39, 39);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


#Modal-Edit-Cate:target{
    display: block;
}

/*Edit Modal*/

/*Add Modal*/
.Modal-Add-Cate{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 216, 0.75);
    display: none;
    opacity: 0;
}

.Modal-Add-Cate.show{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 216, 0.75);
    display: block;
    opacity: 1;
}

#Modal-Add-Cate .Modal-Add-Cate-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 300px;
    background: #fff;
    padding: 10px 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.123) 0px 2px 16px 0px;
    text-align: center;
    border-radius: 24px;
}

.Modal-Add-Cate-body h1{
    margin-top: 15px;
}

.Modal-Add-Cate-body .ant-form{
    width: 100%;
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add{
    width: 100%;
    margin-top: 24px;
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add input{
    width: 70%;
    padding: 10px 20px;
    font-size: 20px;
    border: 1.5px solid silver;
    border-radius: 7px;
    transition: .4s;
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add input:focus,
.Modal-Add-Cate-body .ant-form .input-Cate-Add input:valid{
    outline: none;
    border: 2px solid rgb(39, 39, 39);
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add input:focus ~ label,
.Modal-Add-Cate-body .ant-form .input-Cate-Add input:valid ~ label{
    color: rgb(39, 39, 39);
    bottom: 140px;
    font-size: 14px;
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add label{
    position: absolute;
    left: 63px;
    pointer-events: none;
    bottom: 108px;
    font-size: 20px;
    color: silver;
    background: white;
    transition: .4s;
}

.Modal-Add-Cate-body .ant-form a.Close-modal-x-Cate-Add{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: silver;
    cursor: pointer;
    transition: .4s;
}

.Modal-Add-Cate-body .ant-form a.Close-modal-x-Cate-Add:hover{
    color: rgb(39, 39, 39);
}

.Modal-Add-Cate-body .ant-form .button-Cate-group-Add{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Modal-Add-Cate-body .ant-form .button-Cate-group-Add a.Close-modal-Cate-Add{
    text-decoration: none;
    cursor: pointer;
    color: silver;
    font-size: 16px;
    transition: .4s;
}

.Modal-Add-Cate-body .ant-form .button-Cate-group-Add a.Close-modal-Cate-Add:hover{
    color: rgb(39, 39, 39);
    font-weight: bold;
}

.Modal-Add-Cate-body .ant-form .button-Cate-group-Add button.Save-Cate-submit-Add{
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    transition: .4s;
    margin-left: 40px;
    padding: 10px 20px;
    border-radius: 24px;
    color: silver;
}

.Modal-Add-Cate-body .ant-form .button-Cate-group-Add button.Save-Cate-submit-Add:focus{
    outline: none;
}

.Modal-Add-Cate-body .ant-form .button-Cate-group-Add button.Save-Cate-submit-Add:hover{
    background: rgb(39, 39, 39);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.input-Cate-Add-img{
    margin-top: 14px;
}

.input-Cate-Add-img img{
    width: 85%;
}


#Modal-Add-Cate:target{
    display: block;
}

/*Add Modal*/

/*Delete Modal*/
.Modal-Delete-Cate{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 216, 0.75);
    display: none;
    opacity: 0;
}

.Modal-Delete-Cate.show{
    display: block;
    opacity: 1;
}


#Modal-Delete-Cate .Modal-Delete-Cate-body{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 300px;
    background: #fff;
    padding: 20px 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.123) 0px 2px 16px 0px;
    text-align: center;
    border-radius: 24px;
}

.Modal-Delete-Cate-body .button-Cate-group-Delete{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
}

.Modal-Delete-Cate-body .button-Cate-group-Delete a{
    text-decoration: none;
    color: silver;
    cursor: pointer;
    transition: .4s;
}

.Modal-Delete-Cate-body .button-Cate-group-Delete a:hover{
    color: rgb(39, 39, 39);
    font-weight: bold;
}

.Modal-Delete-Cate-body .button-Cate-group-Delete button{
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    transition: .4s;
    margin-left: 40px;
    padding: 6px 20px;
    border-radius: 24px;
    color: silver;
}

.Modal-Delete-Cate-body .button-Cate-group-Delete button:focus{
    outline: none;
}

.Modal-Delete-Cate-body .button-Cate-group-Delete button:hover{
    background: rgb(39, 39, 39);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#Modal-Delete-Cate:target{
    display: block;
}

/*Delete Modal*/


/*card Product*/

.Product-card-layout{
    margin-top: 4%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.Product-add-button{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 50px;
    text-align: center;
    margin-top: -5px;
    margin-left: 74%;
}

.Product-add-button a{
    text-decoration: none;
    color: #a1a1a1;
    font-size: 16px;
    width: 95%; 
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    transition: 0.4s; 
    border-radius: 24px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.Product-add-button a:hover {
    background: rgb(39, 39, 39);
    color: #fff;
    border: none;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.Product-card{
    text-align: center;
    width: 430px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.123) 0px 2px 16px 0px;
    border-radius: 24px;
    padding: 20px;
    display: flex;
     
}

.Product-card img{
    width: 180px;
    border-radius: 15px;
    
}

.Size-layout{
    display: flex;
    margin-left: -25px;
    margin-top: 10px;
    cursor: default;
}

.size-product{
    text-align: center;
    margin-left: 25px;
}

.Product-card .Product-info-admin{
    display: table;
}

.Product-card .Product-name-group{
    margin-left: 25px;
    text-align: left;
}

.Product-card .Product-name-group h5{
    font-size: 18px;
}

.Product-card .Product-name-group h6{
    font-size: 13px;
    color: silver;
}

.Product-card .button-brand-group{
    margin-left: 30px;
    margin-top: 23px;
}
/*card Product*/

.Modal-Add-Cate-body .ant-form .input-Cate-Add input:focus ~ h5,
.Modal-Add-Cate-body .ant-form .input-Cate-Add input:valid ~ h5{
    color: rgb(39, 39, 39);
    bottom: 355px;
    font-size: 14px;
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add h5{
    position: absolute;
    left: 63px;
    pointer-events: none;
    bottom: 325px;
    font-weight: 500;
    font-size: 20px;
    color: silver;
    background: white;
    transition: .4s;
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add input:focus ~ h4,
.Modal-Add-Cate-body .ant-form .input-Cate-Add input:valid ~ h4{
    color: rgb(39, 39, 39);
    bottom: 280px;
    font-size: 14px;
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add h4{
    position: absolute;
    left: 63px;
    pointer-events: none;
    bottom: 250px;
    font-weight: 500;
    font-size: 20px;
    color: silver;
    background: white;
    transition: .4s;
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add input:focus ~ h3,
.Modal-Add-Cate-body .ant-form .input-Cate-Add input:valid ~ h3{
    color: rgb(39, 39, 39);
    bottom: 212px;
    font-size: 14px;
}

.Modal-Add-Cate-body .ant-form .input-Cate-Add h3{
    position: absolute;
    left: 63px;
    pointer-events: none;
    bottom: 180px;
    font-weight: 500;
    font-size: 20px;
    color: silver;
    background: white;
    transition: .4s;
}

/* add product*/
.Card-Add-Product{
    width: 87%;
    margin-top: 30px;
    padding: 25px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.Card-Add-Product Form{
    width: 100%;
}

.Card-Add-Product Form h1{
    text-align: center;
}

.Card-Add-Product Form .form-input-add-product{
    display: flex;
    width: 100%;
}

.Card-Add-Product Form .form-input-add-product .page-add-product{
    width: 33.33%;
    padding: 25px;
}

.input-add-product{
    margin-top: 15px;
}

.input-add-product label{
    color: silver;
}

.input-add-product input{
    width: 100%;
    padding: 8px;
    font-size: 20px;
    border-radius: 24px;
    border: 2px solid silver;
}

.input-add-product select{
    width: 107%;
    padding: 8px;
    font-size: 18px;
    border-radius: 24px;
    border: 2px solid silver;
}

.input-add-product input:focus{
    outline: none;
}

.input-add-product select:focus{
    outline: none;
}

.Product-add-button-group{
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

.Product-add-button-group a{
    cursor: pointer;
    color: silver;
    font-size: 16px;
    transition: .4s;
}

.Product-add-button-group a:hover{
    color: rgb(39, 39, 39);
}

.Product-add-button-group button{
    background: none;
    color: silver;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Prompt', sans-serif;
    margin-left: 50px;
    padding: 10px;
    transition: .4s;
    border-radius: 24px;
}

.Product-add-button-group button:hover{
    background: rgb(20, 20, 20);
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* add product*/


/*input file Brand Img Add*/
.ImgAddBrand{
    display:none;
}

.p-name-img-brand{
    color: rgb(39, 39, 39);
    cursor: pointer;
    padding: 10px;
    width: 230px;
    margin-left: 23px;
    transition: .4s;
    border: 1.5px solid rgb(39, 39, 39);
    border-radius: 5px;
}

.p-name-img-brand:hover{
    color: white;
    background-color: rgb(39, 39, 39);
}

/*input file Brand Img Add*/